@layer theme, base, clerk, components, utilities; /* Ensure Clerk is compatible with Tailwind CSS v4 */

@import 'tailwindcss';

@layer base {
  :root {
    --font-inter: var(--font-inter);
  }

  .font-sans {
    font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  }
}
